:root {
    --branco: #f6fdfc;
    --corbase: #89B0AE;
    --cor2:#BEE3DB;
    --cor3:#386641;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  box-sizing: border-box;
    
}

body {
    background-color: var(--branco);
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: var(--corbase);
    color: var(--branco);
    height: 70px;
    text-align: center;
     padding: 0;
    padding-bottom: 10px;
}

nav{
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    padding: 2px;
    
   

}
main{
    background-color: var(--cor2);
    padding-top: 3px;
}



.l1{
    background-color:var(--corbase);
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
}

ul{
   
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.liimg{
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
}


.fundoimg{
    width: 98%;
    margin: 10px;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.329);
    position: relative;
    display: inline-block;

}
.divp{
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
.imgtxt{
    color: black;
}

.criador{
    color: var(--cor3);
}

.imglink{
    float: right;
    
}

.imgurl{
    width: 100%;
    height: auto;
    border-radius: 0px 0px 5px 5px;

}

.likes {
    width: 35%;
    height: 5%;
    position: absolute;
    bottom:9px;
    left: 8px;
    display: flex;
    gap: 6px;
    background: rgba(255, 255, 255, 0.144);
    padding: 4px 6px;
    border-radius: 6px;
    backdrop-filter: blur(4px);
    align-items: center;
}

.btn-like {
    width: 60%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 4px;
}

footer {
    position: sticky;
    bottom: 0;
    
    padding: 20px;
    text-align: center;
}




/* ----------------------- */
/* VERSÃO PARA TELAS MAIORES */
/* ----------------------- */

@media (min-width: 768px) {


    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        padding: 20px;
    }

    .likes {
    width: 30%;
    height: 5%;
    position: absolute;
    bottom:9px;
    left: 8px;
    display: flex;
    gap: 6px;
    background: rgba(255, 255, 255, 0.096);
    padding: 4px 6px;
    border-radius: 6px;
    backdrop-filter: blur(4px);
    align-items: center;
}

.btn-like {
    width: 80%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 99%;
    display: flex;
    align-items: center;
    gap: 4px;
}

   
}
