:root{
    --branco:#fffffff;
     --corbase:#1C9CEF
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f0f0f0;
    color: #333;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav{
    height: 160px;
     background: linear-gradient(90deg, #FF5F6D, #FFC371);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.banner{
    width: 100%;
    height: 100px;
}
.banner img {
    max-width: 100%;

    display: block;
}

h1{
    color: black;
    margin-top: 10px;
}

.home {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Fazendo apenas a UL rolar */
.home ul {
    overflow-y: auto;
    flex: 1;
    border-bottom: 10px;
    list-style: none;
    
    /* Esconde a barra de rolagem no Chrome, Edge e Safari */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE e Edge */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;

}

.home ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.imgurl{
    width: 315px;
      background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-bottom: 1.5rem;
    transition: transform 0.3s;
}
.liimg{
    padding-bottom: 20px;

}

footer{
   position: sticky;
  bottom: 0;
  background-color: #f0f0f0; /* Exemplo de cor */
  padding: 20px;
}