:root{
    --branco:#fffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(255, 5, 5);
    height: 150px;
    text-align: center;
}

.banner{
    height: 100px;
}
.banner img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.ladomenu {
    background-color: antiquewhite;
    width: 20%;
    height: 100vh;
    display: flex;
}

.home {
    background-color: var(--branco);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.not {
    background-color: rgb(4, 197, 204);
    width: 30%;
    height: 100vh;
}

/* Fazendo apenas a UL rolar */
.home ul {
    overflow-y: auto;
    flex: 1;
    border-bottom: 10px;
    
    /* Esconde a barra de rolagem no Chrome, Edge e Safari */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE e Edge */

}

.home ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.imgurl{
    width: 315px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.479);;
}
.liimg{
    padding-bottom: 20px;

}